body {
    background-image: url('../images/bg.png');
}

#container {
    margin: auto;
    width: 994px;
    box-shadow: 0 0  5px #505050;
}

header,
main,
footer {
    width: 994px;
    background-color: white;
}

ul {
    list-style-type: none;
}

/* Fonts */
h1,
h2,
a,
p {
    color: #545454;
}

h1,
h2 {
    font-family: "Terminal Dosis";
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 28px;
}

p,
a {
    font-family: "Helvetica";
    font-size: 14px;
}

a {
    text-decoration: none;
}

/* Header */
header {
    padding: 50px 50px 0 50px;
    margin-top: 2em;
}

header img {
    padding: 0.2em 0.5em;
    border-bottom: 1px solid #F0F0F0;
    width: 34px;
    height: 22px;
    background-color: #FAFAFA;
    float: right;
}

header p {
    margin-top: 1em;
}

header li {
    display: inline;
    margin-right: 2em;
}

header nav {
    padding: 1.3em;
    margin-top: 25px;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    background-color: #FAFAFA;
    height: 59px;
    text-align: center;
}


/*Main*/

main {
    padding: 33px 50px 0 50px;
}

main section {
    margin-top: 38px;
}

main section h2,
section h2+p {
    text-align: center;
    margin-bottom: 22px;
}

section h2+p {
    color: #aaaaaa;
    
}

main section article {
    margin-top: 30px;
}

article p:not(:last-child) {
    margin-bottom: 30px;
}

/*footer*/

footer {
    padding: 30px 50px 50px 50px;
    margin-bottom: 2em;

}

footer div {
    height: 40px;
    background-color: #fafafa;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;

}

footer div+h2 {
    height: 75px;
    text-align: center;
    padding: 0.8em;
}

footer section {
    height: 235px;
    border-top: 1px solid #f0f0f0;
    background-color: #fafafa;
}

footer article {
    padding: 1em;
    display: inline-block;
    width: 25%;
    height: 235px;
    vertical-align: top;
}

footer article h2 {
    margin-bottom: 1em;
    font-family: "Helvetica";
    font-size: 18px;
    font-weight: bold;
}
